body {
  background-color: white;
  color: black;
  margin: 0px auto;
  width: 950px;
  font-size: 16px;
  line-height: 1.8em;
}

.title {
  text-align: center;
  margin-top: 64px;
  page-break-after: always;
}

.book-title {
  font-size: 72px;
}

.book-author {
  font-size: 36px;
}

.toc {
  margin-left: 150px;
  margin-top: 100px;
  page-break-after: always;
}

.toc ul {
  list-style-type: none;
}
.chapter {
  margin-top: 64px;
  line-height: 2em;
  page-break-after: always;
}

.chapter-text p:first-child::first-letter {
  font-size: 1.5em;
}

.chapter-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 24px;
}
