@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
  margin: 0 auto;
  font-family: Georgia, Palatino, serif;
  color: #444444;
  line-height: 1;
}
h1, h2, h3, h4 {
  font-family: Lato, Helvetica;
  color: #111111;
  font-weight: 300;
}
h1, h2, h3, h4, h5, p {
  padding: 0;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 22px;
  /* The bottom margin is small. It's designed to be used with gray meta text
     * below a post title. */
  margin: 20px 0 6px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
a {
  color: #0099ff;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
a:hover {
  text-decoration: none;
  color: #ff6600;
}
a:visited {
  color: purple;
}
ul, ol {
  padding: 0;
  margin: 0;
  margin-left: 24px;
}
li {
  line-height: 24px;
}
li ul, li ul {
  margin-left: 24px;
}
p, ul, ol {
  font-size: 16px;
  line-height: 24px;
}
pre {
  padding: 0px 24px;
  max-width: 800px;
  white-space: pre-wrap;
}
code {
  font-family: Source Code Pro, Consolas, Monaco, Andale Mono, monospace;
  line-height: 1.5;
  font-size: 13px;
}
aside {
  display: block;
  float: right;
  width: 390px;
}
blockquote {
  border-left:.5em solid #eee;
  padding: 0 2em;
  margin-left:0;
  max-width: 476px;
}
blockquote cite {
  font-size:14px;
  line-height:20px;
  color:#bfbfbf;
}
blockquote cite:before {
  content:'\2014 \00A0';
}
blockquote p {
  color: #666;
  max-width: 460px;
}
hr {
  width: 540px;
  text-align: left;
  margin: 0 auto 0 0;
  color: #999;
}

